apiVersion: v1
kind: Pod 
metadata:
  name: {{ gpu_sample_pod_name | default('cuda-vectoradd', true) }}
  namespace: nvidia-gpu-operator
spec:
  restartPolicy: OnFailure
  containers:
  - name: {{ gpu_sample_container_name | default('cuda-vectoradd', true) }}
    image: {{ gpu_sample_image_name | default('docker.io/nvidia/samples@sha256:2a30fe7e23067bc2c3f8f62a6867702a016af2b80b9f6ce861f3fea4dfd85bc2', true) }}
    resources:
      limits:
{% if  gpunode.is_mig is defined and  gpunode.is_mig | bool and  gpunode.mig_geoconfig is defined and  gpunode.mig_geoconfig != '' %}
        nvidia.com/{{ gpunode.mig_geoconfig }}: 1
{% else %}
        nvidia.com/gpu: 1
{% endif %}
  tolerations:
  - effect: NoSchedule
    key: {{ gpu_label | default('gpu', true) }}
    value: {{ node_taint }}
    operator: "Equal"
  - effect: NoExecute
    key: {{ gpu_label | default('gpu', true) }}
    value: {{ node_taint }}
    operator: "Equal"

