apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ cluster_ca_data }}
    server: {{ cluter_api }}
  name: {{ current_cluster }}
contexts:
- context:
    cluster: {{ current_cluster }}
    namespace: {{ sa_user_current_context.split('/')[0] }}
    user: {{ sa_user_current_context.split('/')[2] }}/{{ sa_user_current_context.split('/')[1] }}
  name: {{ sa_user_current_context }}
current-context: {{ sa_user_current_context }}
preferences: {}
users:
- name: {{ sa_user_current_context.split('/')[2] }}/{{ sa_user_current_context.split('/')[1] }}
  user:
    token: {{ sa_user_token }}
