apiVersion: v1
data:
  access_key: {{ aws_access_key | b64encode }}
  secret_key: {{ aws_access_secret |  b64encode }}
kind: Secret
metadata:
  name: oadp-{{ cluster_name }}-apps-backup-1-aws-registry-secret
  namespace: openshift-adp
type: Opaque

