{
   "Version": "2012-10-17",
   "Id": "PolicyForVPCEndpoint",
   "Statement": [
      {
      "Sid": "AllowAccessToAllBuckets",
      "Effect": "Allow",
      "Principal": "*",
      "Action": "s3:*",
      "Resource": [
        "arn:aws-us-gov:s3:::{{ private_bucket_name }}",
        "arn:aws-us-gov:s3:::{{ private_bucket_name }}/*"
      ]
     },
     {
       "Sid": "AllowAccessFromSpecificVPCE",
       "Effect": "Deny",
       "Principal": "*",
       "Action": "s3:*",
       "Resource": [
         "arn:{{ aws_partition }}:s3:::{{ private_bucket_name }}",
         "arn:{{ aws_partition }}:s3:::{{ private_bucket_name }}/*"
       ],
       "Condition": {
         "StringNotEquals": {
           "aws:sourceVpce": "{{ aws_s3_vpce }}" 
         }
       }
     }
   ]
}
