---
apiVersion: v1
stringData:
  credentials: |-
    [default]
    sts_regional_endpoints = regional
    role_arn = arn:{{ aws_partition }}:iam::{{ aws_account_id }}:role/{{ ocp_comp_iam_role_name }}
    web_identity_token_file = /var/run/secrets/openshift/serviceaccount/token
kind: Secret
metadata:
  name: {{ ocp_comp_name }} 
  namespace: {{ ocp_comp_ns }} 
