apiVersion: cloudcredential.openshift.io/v1
kind: CredentialsRequest
metadata:
  name: {{ ocp_comp_name }} 
  namespace: openshift-cloud-credential-operator 
spec:
  providerSpec:
    apiVersion: cloudcredential.openshift.io/v1
    kind: AWSProviderSpec
    statementEntries:
    - action:
      - {{ ocp_comp_aws_service_perms }}:*
      effect: Allow
      resource: '*'
  secretRef:
    name: {{ ocp_comp_aws_cloud_creds_secret_name }}
    namespace: {{ ocp_comp_ns }} 
  serviceAccountNames:
  {{ ocp_comp_sa_list | to_nice_yaml | indent(2, false) }}
