{
        "Version": "2012-10-17",
        "Statement": [
            {
                "Effect": "Allow",
                "Principal": {
                    "Federated": "arn:{{ aws_partition }}:iam::{{ aws_account_id }}:oidc-provider/{{ aws_sts_apigateway_id }}.execute-api.{{ aws_region }}.amazonaws.com/{{ aws_deploy_stage }}"
                },
                "Action": "sts:AssumeRoleWithWebIdentity",
                "Condition": {
                    "StringEquals": {
                        "{{ aws_sts_apigateway_id }}.execute-api.{{ aws_region }}.amazonaws.com/{{ aws_deploy_stage }}:sub": [
    {% for ocp_sa in ocp_comp_sa_list %}
    {% if ocp_sa is defined and ocp_sa != "" and ocp_sa != 'default' %}
    {% if (loop.index0 + 1) < ocp_comp_sa_list | length %}
                            "system:serviceaccount:{{ ocp_comp_ns }}:{{ ocp_sa }}",
    {% else %}
                            "system:serviceaccount:{{ ocp_comp_ns }}:{{ ocp_sa }}"
    {% endif %}
    {% endif %}
    {% endfor %}
                        ]
                    }
                }
            }
        ]
}
