apiVersion: compliance.openshift.io/v1alpha1
kind: ScanSettingBinding
metadata:
  name: "{{ compliance_name }}"
profiles:
{% if profile  is defined and profile != '' %}
  - name: "{{ profile }}"
    kind: Profile
    apiGroup: compliance.openshift.io/v1alpha1
{% else %}
{% if profiles | d([]) | length > 0 %}
{% for prof in profiles %}
  - name: "{{ prof }}"
    kind: Profile
    apiGroup: compliance.openshift.io/v1alpha1
{% endfor %}
{% endif %}
{% endif %}
settingsRef:
  name: "{{ compliance_profile_name | default('cis-compliance') }}-auto-apply"
  kind: ScanSetting
  apiGroup: compliance.openshift.io/v1alpha1
