apiVersion: compliance.openshift.io/v1alpha1
kind: ScanSettingBinding
metadata:
  name: "{{ profile }}"
profiles:
  - name: "{{ profile }}"
    kind: Profile
    apiGroup: compliance.openshift.io/v1alpha1
settingsRef:
  name: "{{ compliance_name | default('cis-compliance') }}-auto-apply"
  kind: ScanSetting
  apiGroup: compliance.openshift.io/v1alpha1
