apiVersion: v1
kind: Secret
metadata:
  name: {{ tbc_backend_secret_name | default('backend-tbc-ontap-nas-advanced-secret', true) }}
  namespace: trident
type: Opaque
stringData:
  username: {{ tbc_backend_username }}
  password: {{ tbc_backend_password }}
