apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: {{ tbc_backend_config_name | default('backend-tbc-ontap-nas-advanced', true) }}
  namespace: trident
spec:
  version: 1
  storageDriverName: {{ tbc_backend_driver_name | default('ontap-nas', true) }}
  managementLIF: {{ tbc_backend_mgmt_interface_ip }}
  dataLIF: {{ tbc_backend_data_interface_ip }}
  backendName: {{ tbc_backend_name | default('tbc-ontap-nas-advanced', true) }}
  svm: {{ tbc_backend_svm_name | default('trident_svm', true) }}
  credentials: 
    name: {{ tbc_backend_secret_name | default('backend-tbc-ontap-nas-advanced-secret', true) }}
  limitAggregateUsage: 80%
  limitVolumeSize: {{ tbc_backend_volume_size | default('50Gi', true) }}
  nfsMountOptions: {{ tbc_backend_nfs_mount_options | default('nfsvers=4', true) }}
{% if configure_pv_auto_export is defined and configure_pv_auto_export | bool %}
{% if machine_cidr is defined and machine_cidr | default([], true) | length > 0 %}
  autoExportCIDRs:
{% for mcidr in machine_cidr %}
  - {{ mcidr }}
{% endfor %}
  autoExportPolicy: true
{% endif %}
{% endif %}
  storagePrefix: {{ tbc_backend_storage_prefix | default('openshift', true} }}
  useREST: {{ tbc_backend_use_restapi | default('false', true) }}
  deletionPolicy: retain
  defaults:
    spaceReserve: {{ tbc_backend_space_reserve | default('volume', true) }}
    encryption: '{{ tbc_backend_volume_encryption_enabled | default("false", true) }}'
{% if tbc_backend_volume_export_policy is defined and tbc_backend_volume_export_policy != '' %}
    exportPolicy: '{{ tbc_backend_volume_export_policy }}'  ### ensure this is set to valid policy with valid permissions to avoid permissions denied errors
{% endif %}
    snapshotPolicy: {{ tbc_backend_volume_snapshot_policy | default('default', true) }}
    snapshotReserve: '10'
